*{
margin:0px;
padding:0px;
}

section,nav,aside,footer,header,main,article{
  display:block;
}

header
{
  width:1000px;
  height:192px;
  background: #d6d6d6;
  position:relative;
}
header a
{
  position:absolute;
  left:450px;
  top:46px;
}

main
{
  width:1000px;
  height:757px;
}
footer
{
width:1000px;
height:50px;
background:#d6d6d6;
}

nav
{
  width:146px;
  height:757px;
  background:#337ab7;
  float: left;
}
nav h2:hover{color:#d0c9c9;}

a
{
  text-decoration: none;
}

a:visited
{
  color: black;
}
.selected
{
  background: #003748;
}

#graysection
{
  width:220px;
  height:757px;
  background: #eeeeee;
  float:left;
  position: relative;
}

#whitesection
{
  width:634px;
  height:757px;
  float:left;
  position: relative;
}
#wrapper
{
width: 1000px;
margin: 0px auto;
}

#green1
{
  width:189px;
  height:510px;
  position:absolute;
  margin-left:5px;
  margin-top: 23px;
  background: #62c462;
}

#green2
{
  width:189px;
  height:323px;
  position:absolute;
  margin-top:23px;
  left:223px;
  background: #62c462;
}

#green3
{
  width:189px;
  height:387px;
  position:absolute;
  top:370px;
  left:223px;
  background: #62c462;
}

#green4
{
  width:189px;
  height:124px;
  position:absolute;
  margin-top: 23px;
  left:441px;
  background: #62c462;
}

#green5
{
  width:79px;
  height:68px;
  position:absolute;
  top: 261px;
  margin-left:11px;
  background: #62c462;
}
nav a
{
  width:146px;
  height:58px;
  display: inline-block;
}

nav h2
{
  color: #ffffff;
  margin-top:13px;
  margin-left:6px
}

ul
{
  list-style-type: none;
}
