*{
margin:0px;
padding:0px;
}

section,nav,aside,footer,header,main,article{
  display:block;
}

header
{
  width:1000px;
  height:192px;
  background: #d6d6d6;
  position:relative;
}
header a
{
  position:absolute;
  left:450px;
  top:46px;
}

nav
{
  width:1000px;
  height:62px;
  background: #337ab7;
}

nav a h2
{
  display: inline-block;
  margin-top: 5px;
  color:#ffffff;
  font-family: arial;
}


nav a
{
  width:233px;
  height:40px;
  margin-left:32px;
  display: inline-block;
  text-align: center;
  margin-top:11px;
}

main
{
  width:1000px;
  height:696px;
}

footer
{
    width:1000px;
    height:50px;
    background:#d6d6d6;
}

a
{
  text-decoration: none;
}

a:visited
{
  color: black;
}
.selected
{
  background: #003748;
}
#wrapper
{
width: 1000px;
margin: 0px auto;
}

#mainsection
{
  width:756px;
  height:696px;
  float:left;
  position:relative;
}

#sidesection
{
  width:244px;
  height:696px;
  float:left;
  background: #eeeeee;
  position: relative;
}

#green1
{
  width:700px;
  height:120px;
  position:absolute;
  top:116px;
  left:32px;
  background: #62c462;
}

#green2
{
  width:700px;
  height:200px;
  position:absolute;
  top:264px;
  left:32px;
  background: #62c462;
}

#green3
{
  width:184px;
  height:124px;
  position:absolute;
  top:492px;
  left:548px;
  background: #62c462;
}

#sidegreen
{
  width:184px;
  height:124px;
  position:absolute;
  top:264px;
  left:50px;
  background: #62c462;
}

nav ul li{display: inline-block;}

nav h2:hover{color:#d0c9c9;}
