@@font-face {
  font-family: myFont;
  src: url(fonts/Bellefair-Regular.ttf);
}

main,article,section,aside,nav,footer,header{
  display: block;
}

*{
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: #000000;
}
a:hover{
  color: #000000;
}


.smallLogo{
  display: inline-block;
  margin-left: 1%;
  width: 33px ;
  height: 38px;
}

.textLogo
{
  display: inline-block;
  margin-left: 1%;
  font-size: 150%;
  vertical-align: bottom;
}

#bellIcon{
  position:absolute;
  width: 25px;
  height:25px;
  right: 90px;
  top:26%;
}

.calendarIcon
{
  display: block;
  width: 42px;
  height: 42px;
  margin: 0px auto;
}

.studentsIcon{
  display: block;
  width: 60px;
  height: 42px;
  margin: 0px auto;
}

.teacherIcon{
  display: block;
  width: 30px;
  height: 42px;
  margin: 0px auto;

}

.fixLetter{
  letter-spacing: -1px;
  font-family: myFont;
}

#wrapper{
  margin: 0px auto;
  width: 100%;
}
body{
  background: #eeeeee;
}
main{
  width: 90%;
  margin: 0px auto;

}


#layout1 h3{
  text-align: center;
  margin-top: 10%;
}
#logo{
  margin: 0px auto;
  margin-top: 100px;
  display: block;
  width: 140px;
  height: 160px;
}
#loginBtns{
  margin-top: 100px;
  width: 100%;
  text-align: center;

}
#teacherBtn{
  width: 130px;
  height: 45px;
  border-radius: 5px;

}
#studentBtn{
  width: 130px;
  height: 45px;
  border-radius: 5px;
  margin-right: 30px;

}
#signUp{
  text-align: center;
  margin-top: 10px;

}

header{
  width: 100%;
  height:10%;
  background: #eeeeee;
  padding: 1%;
  position: relative;
}

.nav{
  background: #f7f6f6;
}

.fixpos{
  display: inline-block;
}

.nav-item{
  width:33.3333%;
}

.nav-link{
  text-align: center;
}



#nikba{
  width: 100%;
}
#loNikba
{
  width: 100%;
}

#toolBar{
  margin-top: 20px;
}

#glass{
  width: 50px;
  height: 50px;

}

#addUser{
  width: 50px;
  height: 50px;
  float: right;
}

.studBox{
  background: white;
  width: 130px;
  height: 110px;
  border: 1px solid #000000;
  border-radius: 5px;
  display: inline-block;
  margin: 4.9%;
  text-align: center;
}

.studProfileBox{
  width: 135px;
  height: 120px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-left: 30px;
}

.head6{
  margin-bottom: 0px;
}

#lessonDate{
  font-size:60%;
  margin-top: 1.5px;
  direction: ltr;
}

.studProfileBox img{
  width: 100%;
  height: 100%;
  border-radius: 3px;
}


#studentName{
  position: absolute;
  right: 0px;
  top:-50px;
}

#studentName1{
  position: absolute;
  right: 0px;
  top:15px;
}

#pluspic{
  width: 30px;
  height: 30px;
  margin-top: 15px;
}


#textArea{
  border-radius: 3px;
  width: 100%;
  border: none;
  background: url(../images/notebook.png) no-repeat top left;
  background-size: cover;
  resize: none;
  padding: 13px;
}

#profileSection{
  margin-top: 55px;
  text-align: right;
}

#submitBtn{
  width: 80px;
  border-radius: 3px;
  margin-top: 2px;
}

#noteForm{
  width: 45%;
  display: inline-block;
  text-align: left;
}

#studentDetails{
  font-size: 85%;
}

#bottomLine{
  width: 100%;
  border-top: 2.5px solid #d1d1d1;
  margin-top: 85px;
  text-align: center;
}

#layout3 main{
  position: relative;
}



#plusSection{
  position: relative;
  margin-bottom: 35px;
}

.bottomBtn{
  width: 25%;
  margin: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 80%;
  letter-spacing: -0.5px;
}

.lessonbox{
  margin: 0px auto;
  height: 50px;
  width: 90%;
  background: #ffffff;
  border-top: 2px solid gray;
}

.fadesection{
  width:90%;
  height: 140px;
  display: none;
  background: #d6d6d6;
  margin: 0px auto;
  position: relative;
}

.MaterialStudied{
  position: absolute;
  top:5px;
  right:10px;
}

.dificultese{
  position: absolute;
  top: 40px;
  right: 10px;
}

.homework{
  position: absolute;
  top:75px;
  right:10px;
}

.grade{
  position: absolute;
  top: 110px;
  right:10px;
}

#lesForm{
  width: 100%;
  height:300px;
  background:#d6d6d6;
  margin-top: 10px;
  margin: 0px auto;
  text-align:right;
  padding-top: 6px;
}



.bigSection{
  width: 90%
}

#submitBtn1{
  width: 70px;
  background: #aedd94;
  border-radius: 7px;
}

#cancelBtn{
  width: 70px;
  border-radius: 7px;
}

.saveBox{
  width: 30px;
  height: 20px;
  background: green;
  margin-left: 300px;
  display: none;
}

#formLabel{
  display: block;
  background: #929292;
  text-align: center;
  margin-bottom:0px;
  height: 30px;
  line-height: 30px;

}

.formControl{
  display: block;
  font-size: 0;
}

#formAttr{
  width: 50%;
  margin: 0 auto;
  min-width: 300px;
}

.formActions{
  text-align: left;
}

.formControlText{
  width: 35%;
  display: inline-block;
  font-size: 1rem;
}

.textinput{
  width: 60%;
  border-radius: 5px;
  display: inline-block;
  font-size: 1rem;
  margin-right: 5%;
}

#layout6 #progress .bigSection:last-of-type .lessonbox{
  animation: highlight 1.5s;
}

@keyframes highlight {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: none;
  }
}

.helloTeacher{
  display: inline-block;
  position: absolute;
  right: 23px;
  top: 25%;
}

.selected{
  display:block;
  width:33%;
  height:4px;
  background:#000000;
  margin:0 auto;
}

.btnSelected{
  background: #555555;
}
