label
{
  margin-top: 15px;
}

h1
{
  color: powderblue;
}

h2
{
  margin-left: 10px;
}

#wrapper
{
  width:300px;
  margin:0px auto;;
}

input[type=range],input[type=submit]{
  width: 300px;
}

.position-fix
{
  margin-left: 30px;
}

.nav
{
  background: #959696;
}
